@use "base/variables" as v;
@use "base/mixins" as m;

.no-webp .imagen-contacto {
    background-image: url("../img/jpg/encuentra.jpg");
}

.webp .imagen-contacto {
    background-image: url("../img/jpg/encuentra.webp");
}

.imagen-contacto {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 4rem;
        font-weight: 700;
    }

    p {
        font-size: 1.8rem;
    }

    h2, p {
        color: v.$colorBlanco;
        margin: 0;
        line-height: 2;
    }
}