@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
    padding: 2.5rem 0;
    background-color: v.$colorGrisOscuro;

    .copyright {
        color: v.$colorBlanco;
        text-align: center;
    }
}