@use "base/variables" as v;
@use "base/mixins" as m;

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear;

    @include m.tablet {
        display: flex;
        align-items: center;
        gap: 2rem;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: v.$colorBlanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;

        &:hover {
            color: v.$colorVerde;
        }
    }
}

.mobile-menu {
    @include m.tablet {
        display: none;
    }

    img {
        width: 4rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
}