@use "base/variables" as v;
@use "base/mixins" as m;

.testimonial {
    background-color: v.$colorVerde;
    font-size: 2.4rem;
    border-radius: 2rem;
    padding: 2rem;
    color: v.$colorBlanco;

    blockquote {
        padding-left: 5rem;
        position: relative;

        &::before {
            content: "";
            background-image: url("../img/svg/comilla.svg");
            background-repeat: no-repeat;
            width: 6rem;
            height: 6rem;
            display: block;
            position: absolute;
            left: -2rem;
        }
    }
}