@use "variables" as v;
@use "sass:color";

@mixin telefono {
    @media (min-width: #{v.$pantallaTelefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{v.$pantallaTablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{v.$pantallaDesktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton ($bgColor, $display) {
    background-color: $bgColor;
    color: v.$colorBlanco;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    display: $display;
    border: none;

    &:hover {
        background-color: color.adjust($bgColor, $lightness: -5%);
        cursor: pointer;
    }
}