@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$fuentePrincipal: 'Lato', sans-serif;

$pantallaTelefono: 480px;
$pantallaTablet: 768px;
$pantallaDesktop: 1024px;

$colorNegro: #000000;
$colorAmarillo: #E08709;;
$colorVerde: #71B100;
$colorBlanco: #FFFFFF;
$colorGris: #e1e1e1;
$colorGrisOscuro: #333333;