@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$fuentePrincipal: "Poppins", sans-serif;

$pantallaTelefono: 480px;
$pantallaTablet: 768px;
$pantallaDesktop: 1024px;

$colorNegro: #000000;
$colorAmarillo: #E08709;;
$colorVerde: #71B100;
$colorBlanco: #FFFFFF;
$colorGris: #e1e1e1;
$colorGrisOscuro: #333333;