@use "base/variables" as v;
@use "base/mixins" as m;

.contenido-nosotros {
    @include m.tablet {
        @include m.grid(2, 2rem);   
    }
}

.texto-nosotros {
    blockquote {
        font-weight: 700;
        margin-left: 0;
        font-size: 1.8rem;
    }
}